body {
  background-image: url('sky.jpg');
  background-size: cover;
}

header {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.option {
  padding: 20px;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
}

.flavor1 {
  background-color: orange;
}

.flavor2 {
  background-color: yellow;
}

.flavor3 {
  background-color: purple;
}
